<h1>Add a new item</h1>

<form>
  <p>
  <label for="link_url">Link URL</label>
  <input type="text" id="link_url" name="link_url"></input>
  </p>
  <p>
  <label for="link_description">Link Description</label>
  <input type="text" id="link_description" name="link_description"></input>
  </p>
  <p>
  <label for="thumbnail_url">Thumbnail URL</label>
  <input type="text" id="thumbnail_url" name="thumbnail_url"></input>
  </p>
  
  <button>Create item</button>
</form>
